*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header Start*/
header{
    width: 100%;
    height: auto;
}
.topheader{
    width: 100%;
    height: 60px;
    background: #F5FBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: none;
}
.topheader div{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topheader .social{
   padding-left: 10%;
   box-sizing: border-box;
   font-size: 15px;
}
.topheader .social a{
    padding: 10px;
    color: rgb(168, 168, 168);
}
.topheader .social a:hover{
    color: rgb(3, 157, 247);
}
.topheader .contact{
    padding-right: 100px;
    font-size: 13px;
}
.topheader .contact a{
padding-right: 50px;
color: rgb(168, 168, 168);
}
.topheader .contact i{
    font-size: 12px;
    padding-right: 10px;
    color: rgb(60, 140, 245);
}
.downheader{
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 2px 10px #dbdbdb;
    z-index: 1;

}
.downheader .logo{
    margin-left: 2%;
}
.downheader .main{
    display: flex;
    padding-top: 15px;
}
.downheader .menu ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 30px;
}
.downheader .menu ul li{
    padding-right: 40px;
}
.downheader .nav .menu ul li a{
    color: rgb(0, 0, 0, 0.8);
    font-weight: normal;
}
.button1{
    padding: 12px 20px;
    background-color: rgb(5, 102, 228);
    outline: none;
    color: #ffffff;
    border: 1px solid rgb(0, 201, 236);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    font-family:'Quicksand', sans-serif;
    margin-right: 80px;
}
.button1:hover{
    transition: all ease-in 0.2s;
    outline: none;
    background-color: white;
    color: rgb(5, 102, 228);
    box-shadow: 5px 10px 30px rgb(89, 195, 245);
}
/*Header End*/

/*Slider part Start*/

  .slide-container{
    position: absolute;
    text-align: center;
    color: #1F1F1F;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 17%;
    transform: translate(-50% -50%);
  }
  .centered h3{
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .centered span{
    font-weight: 1;
  }
  .centered p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    color: #a7a1a1;
    text-align: left;
    width: 52%;
  }

/*Slider Part End*/

/*Sectionn Start*/

.section1{
    width: 100%;
    height: auto;
    margin:0 auto;
    text-align: center;
    align-items: center;
    margin-top: -4px;
    background-color: #83C4FF;
    padding: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-top: auto;

}
.section1 .serviceArea{
    display: flex;
    margin: auto;
}
.serviceArea i{
    font-size: 40px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
}
.serviceArea h3{
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
}
.serviceArea p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.button2{
    padding: 8px 20px;
    background-color: #83C4FF;
    outline: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}
.button02{
    padding: 8px 20px;
    background-color: #5DB2FF;
    outline: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    
}
.button2:hover{
    background-color: #ffffff;
    color: #83C4FF;
    outline: none;
    transition: all ease-in 0.2s;
    
}
.button02:hover{
    background-color: #ffffff;
    color: #83C4FF;
    outline: none;
    transition: all ease-in 0.2s;
    
}
.serviceArea div{
    text-align: center;
    padding: 5% 0;
    justify-content: space-around;
    margin: auto;
    text-align: left;
    align-items: center;
    display: inline-block;
}
.serviceArea .box2{
    padding-right: 0;
    padding-left: 0;
    background-color: #5DB2FF;
    text-align: left;
    padding-left: 50px;
    width: 33%;
    height: auto;
}
.serviceArea .box1{
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    padding-left: 100px;
}
.serviceArea .box3{
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    padding-left: 100px;
}
/*Section End*/

/*Section 2 Start*/

.section2{
    width: 100%;
    height: 800px;
    position: relative;
    align-items: center;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.welcomeArea{
    display: flex;
}
.image-container img{
    height: 390px;
}
.image-container{
    position: relative;
    margin-top: 125px;
    margin-left: 250px;
  }
  .overlay {
    position: absolute;
    top: 100px; 
    left: 225px;
  }
  
.text-container{
    position: relative;
    text-align: left;
    padding-top: 125px;
    padding-left: 360px;
}
.text-container h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 5px;
}
.text-container hr{
    height: 2px;
    background: #5DB2FF; 
    width: 50px;
    border: none;
}
.text-container h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: black;
    width: 60%;
    letter-spacing: -1px;
    padding-bottom: 10px;
}
.text-container p{
    font-size: 1.09rem;
    font-family:Arial, Helvetica, sans-serif,serif;
    color: #888888;
    line-height: 1.6pc;
    padding-bottom: 30px;
}
.text-container ul li{
    list-style: none;
    line-height: 1.7pc;
    font-size: 1.05rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #4b4a4a;
}
.text-container ul li i{
    color: #add0f1;
    font-size: 1rem;
    letter-spacing: 0.8rem;
}
.text-container .button3{
    padding: 10px 25px;
    background-color: #ffff;
    outline: none;
    color: #5DB2FF;
    border: 1px solid #5DB2FF;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
}
.text-container .button3:hover{
    background-color: #5DB2FF;
    color: #ffffff;
    outline: none;
    transition: all ease-in 0.2s;
    box-shadow: 5px 10px 30px rgb(89, 195, 245);
}

/*Section 2 End*/

/*Section 3 Start*/

.department{
    width: 100%;
    height: 1350px;
    background: #F5FBFF;
    margin: 30px auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.container .text{
    text-align: center;
    align-items: center;
    padding: auto;
    padding-top: 100px;
}
.container .text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 18px;
}
.container .text hr{
    height: 2px;
    background: #5DB2FF;
    border: none;
    width: 50px;
    margin-left: 49% !important;

}
.container p{
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #747373;
    padding: 20px;
    font-size: 16px;
    word-spacing: 3px;;
    line-height: 1.6pc;
}
.container .images{
    box-sizing: border-box;
    padding: 20px;
    top: 50%;
    padding-left: 15%;
    padding-top: 45px;
}
.images .firstRow{
    display: flex;
    justify-content: space-around;
    width: 85%;
}
.images .secondRow{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top: -5px;
}
.images h3{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-top: 10px;
    padding-left: 25px;
    cursor: pointer;
}
.images h3:hover{
        color: #5ca4e7;
        transition: all ease-in 0.3s;
}
.images p{
    font-family: Arial, Helvetica, sans-serif;
    color: #747373;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 16px;
    word-spacing: 2px;;
    line-height: 1.6pc; 
    text-align: left;
    width: 90%;
}
.images a{
    padding-left: 25px;
    color: #5DB2FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.images a:hover{
    color: #5DB2FF;
    text-decoration: underline #5DB2FF;
}
.images .firstRow div, .secondRow div{
    width: 420px;
    height: 420px;
    position: relative;
    background: #FFFFFF;
    margin: 10px;
    margin-right: 33px;
    margin-bottom: 28px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(231, 231, 231);
    overflow: hidden;
    border-radius: 3.5px;
}
.images img{
    transition: transform .4s;
}
.images img:hover{
    transform: scale(1.2)
}
.images .overflow{
   padding: 0;
   margin: 0;
}

/*Section 3 End*/
 
/*Section 4 Start*/

.testimonial{
    position: relative;
    height: auto;
    margin-top: -30px;
    text-align: center;
    align-items: center;
}

.testimonial .texts{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 0%;
    padding-bottom: 8.3%;
}
.testimonial .texts i{
    padding-top: 140px;
    font-size: 50px;
    color: #ffffff;
}
.testimonial .texts p{
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-right: 25%;
    margin-left: 25%;
}
.testimonial hr{
    background-color: #FFFFFF;
    width: 60px;
    height: 2px;
    margin-left: 49% !important;
    outline: none;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}
.testimonial h5{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2.1% !important;
    font-weight: normal;
    color: #ffffff;
}

/*Section 4 End*/

/*Section 5 Start*/

.business{
    position: relative;
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}
.btabs .list{
    width: 100%;
    height: 100px;
    background: #F5FBFF;
    text-align: center;
    align-items: center;
    padding: 39px;
}
.btabs .list ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}
.btabs .list ul li{
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 0, 0, 0.9);
}
.btabs .textNimage{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    margin-left: -15px;
    padding-right:  200px;
}
.textNimage .text{
    padding-left: 260px;
}
.textNimage .text i{
    color: rgb(0, 183, 255);
    font-size: 60px;
    padding-bottom: 15px;
}
.textNimage .text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0, 0.9);
    padding-bottom: 14px;
    font-weight: normal;
}
.textNimage .text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: rgb(114, 113, 113);
    line-height: 1.8pc;
}
.business hr{
    background-color: #FFFFFF;
    width: 1112px;
    height: 1px;
    margin-left: 16% !important;
    outline: none;
    margin-top: 50px;
    margin-bottom: 25px;
    opacity: 60%;
}
/*Section 5 End*/

/*Sectin 6 Start*/

.expdoctors{
    width: 100%;
    height: 650px;
    background: #ffff;
    margin: 30px auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.expdoctors .h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    margin-right: 55% !important;
    color: rgb(0, 0, 0, 0.8);
}
.doctors{
    text-align: center;
    align-items: center;
    padding: auto;
    padding-top: 80px;
}
.doctors .list{
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    top: 50%;
    padding-left: 14% !important;
    padding-top: 50px;
}
.doctors .list div{
    width: 264px;
    height: 340px;
    position: relative;
    background: #F5FBFF;
    margin: 10px;
    margin-right: 33px;
    margin-bottom: 28px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(231, 231, 231);
    overflow: hidden;
}
.doctors .list img:hover{
    transform: scale(1.1)
}
.doctors .list img{
    transition: transform .4s;
}
.doctors .list h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0,);
    margin-top: 13px;
    margin-bottom: 10px;
    font-weight: normal;
}
.doctors .list p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.doctors .list div:hover{
    background-color: #5ca4e7;
    color: #ffffff;
    transition: all ease-in .2s;
}

/*Section 6 End*/

/*Sectiomn 7 Start*/
.emergency{
    position: relative;
    padding: 0;
    margin-top: -70;
    margin-bottom: 70px;
}
.emergency .emergency-content{
    width: 100%;
    height: 100%;
    margin:  0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.emergency-content .contact{
    display: flex;
}

.emergency-content .texts{
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 50% !important;
    background-color: rgb(0, 183, 255, 0.5);
    position: absolute;
    top: 0%;
    padding-bottom: 3.8%;
    display: flex;
}
.emergency-content ul li{
    list-style: none;
}
.emergency-content .texts h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-top: 70px;
    font-weight: normal;
    color: #ffffff;
    margin-right: 50px;
    padding: 7px;
}  
.emergency-content .texts p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    padding: 7px;
}
.emergency-content .btn1{
    width: 180px;
    height: 45px;
    background-color: #77D5FB;
    outline: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    margin-top: 80px;
}
.emergency-content .btn2{
    width: 180px;
    height: 45px;
    background-color: rgb(0, 183, 255, 0.5);
    outline: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    margin-top: 80px;
}
.emergency-content .btn1:hover{
    background-color: #ffffff;
    color:  #77D5FB;
    outline: none;
    transition: all ease-in 0.2s;
}
.emergency-content .btn2:hover{
    background-color: #ffffff;
    color: rgb(0, 183, 255, 0.5);
    outline: none;
    transition: all ease-in 0.2s;
}

/*Section 7 End*/

/*Footer Start*/

.footer .footer-start{
    width: 100%;
    height: 550px;
    position: relative;
    background: #1F1F1F;
    display: flex;
    margin-top: -75px;
}
.footer .first{
    text-align: center;
    width: 41% !important;
    display: inline-block;
}
.first .logo{
    margin-top: 150px;
    padding-bottom: 40px;
    align-items: left;

}
.first p{
    color: rgb(168, 168, 168);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 60%;
    margin-left: 244px;
    text-align: left;
    line-height: 2pc;
    letter-spacing: 1.3px;
    padding-bottom: 40px;
}
.first .socialIcons{
    font-size: 52px;
    align-items: left;
}
.first .socialIcons a{
    color: rgb(168, 168, 168);
}
.first .socialIcons .fa-square-facebook:hover{
    color: #ffffff;
}
.first .socialIcons .fa-square-twitter:hover{
    color: #ffffff;
}
.first .socialIcons .fa-square-instagram:hover{
    color: #ffffff;
}
.footer .second{
    text-align: left;
    padding-right: 100px;

}
.footer .second h3{
    font-size: 25px;
    padding-top: 150px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-bottom: 40px;
}
.footer .second p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: normal;
}
.footer .second a{
    color: rgb(168, 168, 168);
}
.footer .third{
    text-align: left;

}
.footer .third h3{
    font-size: 25px;
    padding-top: 150px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-bottom: 40px;
}
.footer .third p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: normal;
}
.footer .third a{
    color: rgb(168, 168, 168);
}
.footer .fourth{
    text-align: left;
    padding-left: 100px;
}
.footer .fourth h3{
    font-size: 25px;
    padding-top: 150px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-bottom: 40px;
}
.footer .fourth p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: normal;
    color: rgb(168, 168, 168);
}
.footer .second a:hover, .third a:hover{
    color: #5DB2FF;
}
.footer .footer-end{
    background: black;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(168, 168, 168);
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    padding-top: 40px;
}
.footer-end i{
    color: red;
}
.footer-end a{
    color: #ffffff;
    font-size: 22px;
    font-family:cursive;
}


/*Footer End*/


/*Mobile View*/
